body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
#calculator{
    font-family: Arial,sans-serif;
    background-color: hsl(0, 0%, 20%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 25%);
    color: rgb(168, 235, 210);

}

button{
    width: 100px;
    height: 100px;
    border-radius: 35px;
    border: none;
    background-color: hsl(235, 40%, 15%);
    color: rgb(3, 255, 163);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color:hsl(235, 40%, 24%) ;
}
button:active{
    background-color: hsl(235, 40%, 55%);
}


.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    padding: 25px;
    grid-row: -1;
    grid-column: -1;
}

/* FR = Fractional unit , each column should take each amount of space*/

.operator-bttn{
background-color: rgb(60, 3, 80);
}
.operator-bttn:hover{
    background-color:rgb(70, 4, 93) ;
}
.operator-bttn:active{
    background-color: rgb(143, 28, 185);
}
#push-to-right{
    grid-column: -2;
}